.ui-table-v2__wrapper {
  overflow: hidden;
  border-radius: var(--rounded-2xl);
  border-inline-end: 1px solid var(--border-primary);
  border-inline-start: 1px solid var(--border-primary);
}

.ui-table-v2__wrapper table {
  width: 100%;
  text-align: start;
  border-radius: 8px 8px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}

.ui-table-v2__wrapper .ui-table-v2__content {
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
}

.ui-table-v2__wrapper .ui-table-v2__header-hold {
  border-top: 1px solid var(--border-primary);
}

.ui-table-v2__wrapper .ui-table-v2__body-hold {
  border-bottom: 1px solid var(--border-primary);
}

/* Common betwenn Header and Body */
.ui-table-v2__wrapper ::v-deep .ui-table-v2__header > tr > th,
.ui-table-v2__wrapper ::v-deep .ui-table-v2__body > tr > td {
  color: var(--primary-fg);
  font-size: var(--paragraph-small-font-size);
  line-height: var(--paragraph-small-line-height);
  letter-spacing: var(--paragraph-small-letter-spacing);
  border-bottom: 1px solid var(--border-primary);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__table--bordered .ui-table-v2__header > tr > th:not(:last-child),
.ui-table-v2__wrapper ::v-deep .ui-table-v2__table--bordered .ui-table-v2__body > tr > td:not(:last-child) {
  border-inline-end: 1px solid var(--border-primary);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__table--bordered .ui-table-v2__header .ui-table-v2__header-cell--last {
  border-inline-end: 1px solid transparent !important;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__header-cell--ellipsis,
.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  min-width: 0;
  display: block;
}

.ui-table-v2__wrapper ::v-deep .wrapper-option {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-table-v2__wrapper ::v-deep .wrapper-option .ui-checkbox {
  margin: auto;
}

.ui-table-v2__wrapper ::v-deep .wrapper-option .drag-handle {
  cursor: grab;
}

.ui-table-v2__wrapper--ping-left ::v-deep .ui-table-v2__cell--fixed-left__last {
  box-shadow: var(--shadow-fixed-column-left);
  border-inline-end: none !important;
}

.ui-table-v2__wrapper--ping-right ::v-deep .ui-table-v2__cell--fixed-right__first {
  box-shadow: var(--shadow-fixed-column-right);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell--fixed-left,
.ui-table-v2__wrapper::v-deep .ui-table-v2__cell--fixed-right {
  background: var(--primary-bg);
  z-index: 2;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell--fixed-left__last::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell--fixed-right__first::before {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell-resize-handle {
  position: absolute;
  top: 0;
  height: 100% !important;
  bottom: 0;
  left: auto;
  right: -8px;
  cursor: col-resize;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell-resize-handle .ui-table-v2__cell-resize-line {
  display: block;
  width: 2px;
  margin-left: 7px;
  height: 1.6em;
  background: var(--border-focus);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell-resize-handle.reversed {
  right: auto;
  left: -8px;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell-resize-handle:hover .ui-table-v2__cell-resize-line,
.ui-table-v2__wrapper ::v-deep .ui-table-v2__cell-resize-handle.dragging .ui-table-v2__cell-resize-line {
  opacity: 1;
  background-color: #1677ff;
  height: 100% !important;
}

/* Header */
.ui-table-v2__wrapper ::v-deep .ui-table-v2__header > tr > th {
  background: var(--secondary-bg);
  padding: var(--spacing-xs);
  font-weight: 500;
  text-align: start;
  position: relative;
}

/* Body */
.ui-table-v2__wrapper ::v-deep .ui-table-v2__body .ui-table-v2__row {
  height: 50px;
}

.ui-table-v2__wrapper ::v-deep .drag-handle {
  cursor: grab;
  display: flex;
  align-items: center;
  color: var(--secondary-fg, #999);
}

.ui-table-v2__wrapper ::v-deep .drag-handle:active {
  cursor: grabbing;
}

.ui-table-v2__wrapper ::v-deep .sortable-chosen > td {
  background: var(--accent-1);
  opacity: 0.8;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__body > tr > td {
  padding: var(--spacing-xs);
  font-weight: 400;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__body > .ui-table-v2__row:hover > td {
  background: var(--accent-1);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__body .ui-table-v2__row--selected > td {
  background: var(--accent-1);
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__drag-preview .ui-table-v2__body > tr > td {
  background: var(--primary-bg);
  position: unset;
}

/* Empty */
.ui-table-v2__wrapper ::v-deep .ui-table-v2__body > tr > td:has(.ui-table-v2__row-empty):hover {
  background: transparent;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__row-empty {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__row-empty .wrapper-img {
  width: 120px;
  height: 120px;
  user-select: none;
}

.ui-table-v2__wrapper ::v-deep .ui-table-v2__row-empty .wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Scrollbar */
.ui-table-v2__body-hold::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ui-table-v2__body-hold::-webkit-scrollbar-track:vertical {
  border-left: 1px solid var(--border-primary);
}

.ui-table-v2__body-hold::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid var(--border-primary);
}

.ui-table-v2__body-hold::-webkit-scrollbar-thumb {
  background: var(--border-primary);
  border-radius: 3px;
}

.ui-table-v2__body-hold::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid transparent;
  border-right: 1px solid transparent;
  background-clip: content-box;
}

.ui-table-v2__body-hold::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid transparent;
  border-bottom: 1px solid transparent;
  background-clip: content-box;
}

.ui-table-v2__content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ui-table-v2__content::-webkit-scrollbar-track:vertical {
  border-left: 1px solid var(--border-primary);
}

.ui-table-v2__content::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid var(--border-primary);
}

.ui-table-v2__content::-webkit-scrollbar-thumb {
  background: var(--border-primary);
  border-radius: 3px;
}

.ui-table-v2__content::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid transparent;
  border-right: 1px solid transparent;
  background-clip: content-box;
}

.ui-table-v2__content::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid transparent;
  border-bottom: 1px solid transparent;
  background-clip: content-box;
}
