@layer base {
    :root {
        /* ========================= Spacing Scale ========================= */
        --spacing-3xs: 2px;
        --spacing-2xs: 4px;
        --spacing-xs: 8px;
        --spacing-sm: 12px;
        --spacing-md: 16px;
        --spacing-lg: 20px;
        --spacing-xl: 24px;
        --spacing-2xl: 32px;
        --spacing-3xl: 40px;
        --spacing-4xl: 48px;
        --spacing-5xl: 64px;
        --spacing-6xl: 80px;
        --spacing-7xl: 96px;
        --spacing-8xl: 112px;
        --spacing-9xl: 128px;
        --spacing-10xl: 144px;
        /* ========================= Hacks to Fit Scale ========================= */
        --spacing-3: 3px;
        --spacing-5: 5px;
        --spacing-5p5: 5.5px;
        --spacing-6: 6px;
        --spacing-7: 7px;
        --spacing-7p5: 7.5px;
        --spacing-8p5: 8.5px;
        --spacing-9: 9px;
        --spacing-9p5: 9.5px;
        --spacing-10: 10px;
        --spacing-14: 14px;
        --spacing-15p5: 15.5px;
    }
}